
/** {
    outline: 1px solid red;
}*/

:root { --primary: #25333f; }

/* clean page */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	background-color: var(--primary);
	min-width: 320px;
}

* { box-sizing: border-box; }

.backgroundImg {
    width: 100vw;
    height: 260.4vw;
    background-image: url(img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.logoWrapper {
    width: 100%;
    height: 100vh;
    margin-top: -260.4vw;
}


.logo {
    width: 40%;
    height: 100%;
    margin: auto;
    background-image: url(img/logo.png);
    background-attachment: fixed;
    background-position: center 6vw;
    background-repeat: no-repeat;
    background-size: 40%;
    z-index: 0;
}


.foregroundImg {
    width: 100vw;
    height: 260.4vw;
    margin-top: -100vh;
    background-image: url(img/foreground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 9999;
}





.footerContent {
    width: 100%;
    margin-top: -100%;
}

.laTeam{
	text-shadow: 5px 5px 10px  hsla(206,80%,4%,0.70);
	transition-duration: 0.5s;
}

.laTeam:hover{
	transform: scale(1.1);
}


.iframeWrapper {
    width: 60vw;
    height: calc( (9/16) * 60vw);
    margin: auto;
}

.embed_video { 
	width: 100%; 
	height: 100%;
	transition-duration: 0.5s;
}

.embed_video:hover{
	transform: scale(1.1);
	box-shadow: 5px 5px 10px 0px hsla(206,80%,4%,0.7);
}

.teamTitle{
	margin-top: 30vh;
	diplay: flex;
	justify-content: center;
	text-align: center;
	font-family: Fonseca;
	color: #fff;
	font-size: 3em;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transition-duration: 0.5s;
}


.teamWrapper {
    width: 95%;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}



.row {
    display: flex;
    justify-content: space-around;
}

.teamContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 20vh;
}

.reverseContainer {
    flex-direction: row-reverse;
}


.teamImg1 {
    width: 15vh;
    height: 15vh;
    border-radius: 4000px;
    background-image: url(img/clement_chungus.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
	box-shadow: 5px 5px 10px 0px hsla(206,80%,4%,0.58);
	animation-name: breathing;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transition-duration: 0.5s;
	/*background-color:hsla(206,80%,4%,0.58)*/ 
}


.teamImg2 {
    width: 15vh;
    height: 15vh;
    border-radius: 4000px;
    background-image: url(img/mathieu_chungus.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
	box-shadow: 5px 5px 10px 0px hsla(206,80%,4%,0.58);
	animation-name: breathing;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transition-duration: 0.5s;
}

.teamImg3 {
    width: 15vh;
    height: 15vh;
    border-radius: 4000px;
    background-image: url(img/nigel_chungus.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
	box-shadow: 5px 5px 10px 0px hsla(206,80%,4%,0.58);
	animation-name: breathing;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transition-duration: 0.5s;
}

.teamImg4 {
    width: 15vh;
    height: 15vh;
    border-radius: 4000px;
    background-image: url(img/thibault_chungus.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
	box-shadow: 5px 5px 10px 0px hsla(206,80%,4%,0.58);
	animation-name: breathing;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transition-duration: 0.5s;
}


@keyframes breathing{
	0% {
		box-shadow: 5px 5px 10px 0px hsla(206,80%,4%,0.30);
		border: solid #fff 5px;
	}
	100% {
		box-shadow: 7px 7px 13px 0px hsla(206,80%,4%,0.70);
		border: solid #fff 5px;
	}
}

@keyframes disco{
	0%{
		color: aqua;
		font-size: 3em;
		
	}
	50%{
		color: crimson;
		font-size: 4em;
	}
	
	80%{
		color: chartreuse;
		font-size: 2em;
	}
	
	100%{
		color: darkorange;
		font-size: 3em;
	}
}



.teamImg1:hover { 
	cursor: pointer;
	transform: scale(1.1);
	transition: all 265ms ease-out;
	transition-duration: 0.5s;
}
.teamImg1:hover + .teamInfo { opacity: 1; }

.teamImg2:hover { 
	cursor: pointer;
	transform: scale(1.1);
	transition: all 265ms ease-out;
	transition-duration: 0.5s;
}
.teamImg2:hover + .teamInfo { opacity: 1; }

.teamImg3:hover { 
	cursor: pointer; 
	transform: scale(1.1);
	transition: all 265ms ease-out;
	transition-duration: 0.5s;
}
.teamImg3:hover + .teamInfo { opacity: 1; }

.teamImg4:hover { 
	cursor: pointer; 
	transform: scale(1.1);
	transition: all 265ms ease-out;
	transition-duration: 0.5s;
}
.teamImg4:hover + .teamInfo { opacity: 1; }


.teamInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    transition: opacity 700ms ease-in-out;
}



.teamName { 
	font-family: Fonseca;
	font-size: 1.5rem; 
	padding-bottom: 10px;
	color: #e5bd65;
}

.reverseContainer { text-align: right; }

.teamDescription { 
	font-family: Helvetica, "sans-serif";
	font-size: 1.2rem; 
	opacity: 1; /* TU PEUX SET CA SUR 0 */
    transition: opacity 300ms ease-in-out;
	color: hsla(0,0%,100%,0.80)
}




.mediaWrapper {
    height: 40vh;
    margin-top: 30vh;
}




.btn{
	border: 2px solid #e5bd65;
	border-radius: 100px;;
	color: #e5bd65;
	background: None;
	padding-bottom: 15px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 30px;
	transition-duration: 0.5s;
	cursor: pointer;
	font-family: Fonseca;
	margin: 20px;
}


.btn:hover{
	background-color: #e5bd65;
	color: #25333f;
	transform: scale(1.1);
}


.container{
	display: flex;
	justify-content: center;
}

.socials{
	padding-top: 10vh;
	display: flex;
	justify-content: center;
}

.icons_container{
	padding: 0;
	list-style: none;
	margin: 1em;
}

.icons_container li{
	display: inline-block;
	margin: 14px;
	position: relative;
	font-size: 32px;
}

#insta{
	color: #25333f;
	position: absolute;
	top: 21px;
	left: 21px;
	transition: all 265ms ease-out;
}

#youtube{
	color: #25333f;
	position: absolute;
	top: 21px;
	left: 18px;
	transition: all 265ms ease-out;
}

.icons a {
	display: inline-block;
}

.icons a::before{
	transform: scale(1);
	content: "";
	width: 70px;
	height: 70px;
	border-radius: 100%;
	display: block;
	background-color: #e5bd65;
	transition: all 265ms ease-out;
}


.icons a:hover::before{
	transform: scale(0);
	transition: all 265ms ease-in;
}

.icons a:hover i{
	transform: scale(2.2);
	color: #e5bd65;
	background-color: #e5bd65;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 265ms ease-in;
}






@media only screen and (max-width: 1150px) {
    .row { flex-direction: column; }
    .teamContainer { width: 80%; margin: auto; }
    .reverseContainer { flex-direction: row; text-align: left; }
	.logo{
		background-attachment: inherit;
		width: 100%;
	}
	.teamInfo{
		opacity: 1;
	}
	.embed_video:hover{
	transform: scale(1);
	}
}


@media only screen and (max-width: 950px) {
    .teamContainer { width: 100%; }
    .teamImg { width: 12vh; height: 12vh; }
	.teamInfo{
		padding-left: 20px;
	}
}

@media only screen and (max-width: 650px) {
    .iframeWrapper { width: 90vw; height: calc( (9/16) * 90vw); }
    .teamWrapper { margin-top: 7vh; }
    .teamContainer, .reverseContainer {
        height: 25%;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 25px 0px;
    }
	.teamInfo{
		padding-top: 20px;
	}
}

@font-face{
	font-family: Fonseca;
	src: url(msc/Fonseca.otf)
}



/**/
