@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: Fonseca;
	src: url(msc/Fonseca.otf)
}

*{
	/*outline: 1px solid red;*/
	margin: 0;
	padding: 0;
	border: 0;
	overflow-x: hidden;
}


.headerimg {
    width: 100vw;
    height: 50vh;
    background-image: url(img/cave_header.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
	z-index: 100;
	position: fixed;
	pointer-events: none;
}


.liane{
	background-repeat: no-repeat;
	background-size: contain;
	position: fixed;
	pointer-events: none;
	z-index: 50;
}

#liane1{
	width: 10vh;
	height: 25vh;
	margin-top: -12vw;
	margin-left: 30vw;
	background-image: url(img/lianes/liane1.png);
	transition: all 0.2s ease-in-out;
}

#liane2{
	width: 8vh;
	height: 30vh;
	margin-top: -21vw;
	margin-left: 8vw;
	background-image: url(img/lianes/liane2.png);
	transition: all 0.2s ease-in-out;
}

#liane3{
	width: 20vh;
	height: 30vh;
	margin-top: -7vw;
	margin-left: 47vw;
	background-image: url(img/lianes/liane3.png);
	transition: all 0.2s ease-in-out;
}

#liane4{
	width: 8vh;
	height: 30vh;
	margin-top: -12vw;
	margin-left: 70vw;
	background-image: url(img/lianes/liane4.png);
	transition: all 0.2s ease-in-out;
}

#liane5{
	width: 8vh;
	height: 30vh;
	margin-top: -21vw;
	margin-left: 80vw;
	background-image: url(img/lianes/liane5.png);
	transition: all 0.2s ease-in-out;
}

#liane6{
	width: 8vh;
	height: 30vh;
	margin-top: -17vw;
	margin-left: 92vw;
	background-image: url(img/lianes/liane2.png);
	transition: all 0.2s ease-in-out;
}

#liane1.fade-in{
	margin-top: 0;
	animation-name: bounce;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 0.1s;
}

#liane2.fade-in{
	margin-top: 0;
	animation-name: bounce;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 0.2s;
}

#liane3.fade-in{
	margin-top: 0;
	animation-name: bounce;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 0.28s;
}

#liane4.fade-in{
	margin-top: 0;
	animation-name: bounce;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 0.25s;
}

#liane5.fade-in{
	margin-top: 0;
	animation-name: bounce;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#liane6.fade-in{
	margin-top: 0;
	animation-name: bounce;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-delay: 0.17s;
}


@keyframes bounce{
  0% {}
  20% {transform: translateY(-50px);}
  40% {transform: translateY(20px);}
  60% {transform: translateY(-6px);}
  90% {transform: translateY(0px);}
  100% {transform: translateY(0px);}
}

/* --------- TIMELINE --------*/

.process-wrapper {
	margin:auto;
	max-width:100vw;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	height:100px;
	margin-top:100px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:20;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	margin-top: 0px;
	content:" ";
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:0px;
	height:0px;
	border-radius:50%;
	border:solid 2px rgba(0,0,0,0.00);
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px rgba(0,0,0,0.00);
       	 
	background:rgba(0,0,0,0.00); 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:25%;
	text-align:center;
	color:rgba(229,189,101,0.52);
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:120px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 2em;
	font-family: Helvetica, "sans-serif";
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#e5bd65;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#777;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#e5bd65;
}

#progress-bar-container li.active:after {
	background:#e5bd65;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #e5bd65;	 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	overflow-y: hidden;
	width:90%;
	margin: auto;
	margin-top: 40px;
	background: rgba(16,22,27,0.75);
	border-radius: 20px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:1.1em;
	margin-bottom: 15px;
	text-transform:uppercase;
	color:#e5bd65;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:1em;
	line-height:1.5em;
	color: rgba(255,255,255,0.80);
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}



/* --------------------------------------------- */


body{
	background-color: #25333f;
	overflow-y: hidden;
}

p{
	color: white;
	font-family: Helvetica, "sans-serif";
}

h2{
	font-family: Helvetica, "sans-serif";
}


.historycontent{
	font-family: Helvetica, "sans-serif";
	font-size: 1.2rem;
	margin-top: 5vh;
	text-align: center;
	padding-left: 15vw;
	padding-right: 15vw;
	color: white;
}

.timelinecontent{
	font-size: 1.2rem;
	text-align: justify;
	padding-left: 15vw;
	padding-right: 15vw;
	/*margin-top: 5vh;*/
}

.problemcontent{
	font-size: 1.2rem;
	text-align: center;
	padding-left: 15vw;
	padding-right: 15vw;
	margin-top: 5vh;
}

.softwarecontent{
	font-size: 1.2rem;
	text-align: justify;
	padding-left: 15vw;
	padding-right: 15vw;
	margin-top: 5vh;
}

.softwarecontent1{
	padding-left: 15vw;
	padding-right: 15vw;
	margin-top: 7vh;
	display: flex;
    flex-direction: row;
	justify-content: center;
	overflow-y: hidden;
}

.softwarecontent2{
	padding-left: 15vw;
	padding-right: 15vw;
	margin-top: 3%;
	display: flex;
    flex-direction: row;
	justify-content: center;
	overflow-y: hidden;
}

.separator{
	height: 5px;
	width: 100vw;
	margin-top: 7vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.actualseparator{
	height: 5px;
	width: 10vw;
	background-color: #121416;
	border-radius: 50px;
}




.title{
	font-family: Fonseca;
	font-size: 2.1rem;
	color: #e5bd65;
	text-align: center;
	transition-duration: 0.3s;
	
}

.title:hover{
	text-shadow: 9px 9px 3px hsla(206,100%,4%,0.6);
}


.historytitlecontainer{
	margin-top: 20vw;
}

.timelinetitlecontainer{
	margin-top: 10vw;
}

.problemstitlecontainer{
	margin-top: 10vw;	
}

.softwaretitlecontainer{
	margin-top: 15vw;	
}





.dlWrapper{
	margin-top: 25vh;
	display: flex;
    flex-direction: row;
	justify-content: center;
}


.btn{
	border: 2px solid #e5bd65;
	border-radius: 100px;;
	color: #e5bd65;
	background: None;
	padding-bottom: 15px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 30px;
	transition-duration: 0.5s;
	cursor: pointer;
	font-family: Fonseca;
	margin: 20px;
}


.btn:hover{
	background-color: #e5bd65;
	color: #25333f;
	transform: scale(1.1);
}




/* -------------------------------------------- */


.container{
	display: flex;
	justify-content: center;
}


.softicon{
	height: 100px;
	width: 100px;
	margin: 10px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	-webkite-transition-duration: 0.35s;
	-moz-transition-duration: 0.35s;
	-ms-transition-duration: 0.35s;
	-o-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.softicon:hover{
	transform: scale(1.1);
	cursor: pointer;
}


@keyframes reveal{
	0% {transform: scale(1);}
	50% {transform: scale(1.2);}
	100% {transform: scale(1);}
}


#soft1{
	background-image: url(img/yellow_logos/after.png);
	opacity: 0;
}

#soft1.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.2s;
}

#soft1:hover{
	background-image: url(img/color_logos/after.png);
}

#soft2{
	opacity: 0;
	background-image: url(img/yellow_logos/premiere.png);
}

#soft2.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.25s;
}

#soft2:hover{
	background-image: url(img/color_logos/premiere.png);
}


#soft3{
	opacity: 0;
	background-image: url(img/yellow_logos/audition.png);
}

#soft3.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.3s;
}

#soft3:hover{
	background-image: url(img/color_logos/audition.png);
}

#soft4{
	opacity: 0;
	background-image: url(img/yellow_logos/dreamweaver.png);
}

#soft4.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.35s;
}

#soft4:hover{
	background-image: url(img/color_logos/dreamweaver.png);
}

#soft5{
	opacity: 0;
	background-image: url(img/yellow_logos/photoshop.png);
}

#soft5.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.4s;
}

#soft5:hover{
	background-image: url(img/color_logos/photoshop.png);
}

#soft6{
	opacity: 0;
	background-image: url(img/yellow_logos/illustrator.png);
}

#soft6.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.45s;
}

#soft6:hover{
	background-image: url(img/color_logos/illustrator.png);
}

#soft7{
	opacity: 0;
	background-image: url(img/yellow_logos/garageband.png);
}

#soft7.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.5s;
}

#soft7:hover{
	background-image: url(img/color_logos/garageband.png);
}


#soft8{
	opacity: 0;
	background-image: url(img/yellow_logos/unity.png);
}

#soft8.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.55s;
}

#soft8:hover{
	background-image: url(img/color_logos/unity.png);
}


#soft9{
	opacity: 0;
	background-image: url(img/yellow_logos/rider.png);
}

#soft9.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.6s;
}

#soft9:hover{
	background-image: url(img/color_logos/rider.png);
}

#soft10{
	opacity: 0;
	background-image: url(img/yellow_logos/live.png);
}

#soft10.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.65s;
}

#soft10:hover{
	background-image: url(img/color_logos/live.png);
}

#soft11{
	opacity: 0;
	background-image: url(img/yellow_logos/gitlab.png);
}

#soft11.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.7s;
}

#soft11:hover{
	background-image: url(img/color_logos/gitlab.png);
}

#soft12{
	opacity: 0;
	background-image: url(img/yellow_logos/overleaf.png);
}

#soft12.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.75s;
}

#soft12:hover{
	background-image: url(img/color_logos/overleaf.png);
}

#soft13{
	opacity: 0;
	background-image: url(img/yellow_logos/trello.png);
}

#soft13.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.8s;
}

#soft13:hover{
	background-image: url(img/color_logos/trello.png);
}

#soft14{
	opacity: 0;
	background-image: url(img/yellow_logos/discord.png);
}

#soft14.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.85s;
}

#soft14:hover{
	background-image: url(img/color_logos/discord.png);
}

#soft15{
	opacity: 0;
	background-image: url(img/yellow_logos/blender.png);
}

#soft15.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.9s;
}

#soft15:hover{
	background-image: url(img/color_logos/blender.png);
}







#lib1{
	background-image: url(img/yellow_logos/oisin.png);
	opacity: 0;
}

#lib1.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0s;
}

#lib1:hover{
	background-image: url(img/color_logos/oisin.png);
}

#lib2{
	background-image: url(img/yellow_logos/ld.png);
	opacity: 0;
}

#lib2.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.05s;
}

#lib2:hover{
	background-image: url(img/color_logos/ld.png);
}


#lib3{
	background-image: url(img/yellow_logos/photon.png);
	opacity: 0;
}

#lib3.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.1s;
}


#lib3:hover{
	background-image: url(img/color_logos/photon.png);
}


#lib4{
	background-image: url(img/yellow_logos/scrollmagic.png);
	opacity: 0;
}

#lib4.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.2s;
}

#lib4:hover{
	background-image: url(img/color_logos/scrollmagic.png);
}


#lib5{
	background-image: url(img/yellow_logos/fertile.png);
	opacity: 0;
}

#lib5.reveal{
	opacity: 1;
	animation-name: reveal;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-delay: 0.25s;
}

#lib5:hover{
	background-image: url(img/color_logos/fertile.png);
}







.footer{
	margin-top: 15vh;
	height: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.footerelement{
	margin-left: 20px;
	margin-right: 20px;
	color: #121416;
	transition-duration: 0.3s;
}


.footerelement:hover{
	color: #e5bd65;
	cursor: pointer;
}






.invisbleimg{
	position: absolute;
	height: 5vw;
	width: 5vw;
	margin-top: -2000px;
	opacity: 0;
}


#img1{
	background-image: url(img/color_logos/after.png);
}
#img2{
	background-image: url(img/color_logos/premiere.png);
}
#img3{
	background-image: url(img/color_logos/audition.png);
}
#img4{
	background-image: url(img/color_logos/dreamweaver.png);
}
#img5{
	background-image: url(img/color_logos/photoshop.png);
}
#img6{
	background-image: url(img/color_logos/garageband.png);
}
#img7{
	background-image: url(img/color_logos/unity.png);
}
#img8{
	background-image: url(img/color_logos/rider.png);
}
#img9{
	background-image: url(img/color_logos/live.png);
}
#img10{
	background-image: url(img/color_logos/gitlab.png);
}
#img11{
	background-image: url(img/color_logos/overleaf.png);
}
#img12{
	background-image: url(img/color_logos/trello.png);
}
#img13{
	background-image: url(img/color_logos/blender.png);
}
#img14{
	background-image: url(img/color_logos/oisin.png);
}
#img15{
	background-image: url(img/color_logos/ld.png);
}
#img16{
	background-image: url(img/color_logos/photon.png);
}
#img17{
	background-image: url(img/color_logos/scrollmagic.png);
}
#img18{
	background-image: url(img/color_logos/illustrator.png);
}
#img19{
	background-image: url(img/color_logos/discord.png);
}
#img20{
	background-image: url(img/color_logos/fertile.png);
}







